.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("/images/hero.png");
  
    /* Set a specific height */
    height: 300px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
  }
  