img{
    height: 150px;
    width: 150px;
    transition: box-shadow .5s;
    transition: transform .5s;
    border: solid 3px #a27ee6;
    border-radius: 15px;
    margin: 10px 20px 10px 20px
}
img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.125, 1.125);
    cursor:pointer;
}